@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(234, 223, 243);
    text-align: center;
    font-family: 'GowunDodum-Regular';
}

.app {
    width: 450px;
    height: 650px;
    margin: auto;
    margin-top: 4%;
    border-radius: 20px;
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);


}

.title {
    font-family: 'SBAggroB';
    color: rgb(255, 255, 255);
    padding: 13px;
    padding-top: 20px;
}

.monitor {
    position: relative;
    background-color: rgb(245, 245, 245);
    width: 450px;
    height: 520px;
    margin-top: -14px;
}

#plusBtn {
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 12px;
    cursor: pointer;
}

#textBox {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 438px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: large;
    padding-left: 10px;
}

.listBox {
    margin-left: 20px;
}

.listText {}

.list {
    color: black;
    text-align: left;
    font-size: large;
    font-weight: bolder;
    list-style: none;
    padding-top: 15px;
    display: block;
}

.trash {
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
}