@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(234, 223, 243);
    text-align: center;
    font-family: 'GowunDodum-Regular';
}

button {
    outline: none;
    border: 0;
    cursor: pointer;
    background-color:none;
}

.app {
    width: 450px;
    height: 650px;
    margin: auto;
    margin-top: 4%;
    border-radius: 20px;
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
    position: relative;
}

.title {
    font-family: 'SBAggroB';
    color: rgb(255, 255, 255);
    padding: 13px;
    padding-top: 20px;
    font-size: larger;
}

.monitor {
    background-color: rgb(245, 245, 245);
    width: 450px;
    height: 520px;
    margin-top: -14px;
    overflow: auto;
}

.list {
    color: black;
    text-align: left;
    font-size: large;
    font-weight: bolder;
    list-style: none;
    display: block;
    margin: 10px 15px;
}

.listText {
    color: black;
    text-align: left;
    font-size: large;
    font-weight: bolder;
    list-style: none;
    padding-top: 15px;
    display: inline-block;
    width: 370px;
    margin-left: 10px;
}

.deleteBtn {
    cursor: pointer;
    margin-right: 0px;
    width: 20px;
    height: 20px;
    transition: transform 300ms ease-in;
}

.deleteBtn:hover {
    color: red;
    transform: scale(1.1);
}

.textBox {
    position: absolute;
    bottom: 69px;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 438px;
    height: 40px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: large;
    padding-left: 10px;
}

.addBtn {
    position: absolute;
    bottom: 10px;
    left: 200px;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 363px;
    cursor: pointer;
}